<div class="banner center-form" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(220,96,45,0.3)), url(https://images.unsplash.com/photo-1559555427-559d66174c67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
      <br>
      <br>
      <%= render 'shared/postform', post: @post %>
  <br>
</div>
