<br>
<div class="container margin1_top_bottom">
  <h1 class="text-center">All the swims</h1>
  <div class="row">
    <% @posts.each do |post| %>
      <%= render 'shared/cardpostindex', post: post %>
    <% end %>
  </div>
</div>
