.white {
  background-color: #FDFFFC;
}


.red {
  background-color: red;
}

.orange {
  background-color: #DC602E;
}


.sky-blue {
 background-color: #00BBF9;

 }


.deep-blue {
 background-color: #090C9B;
 }



.black {
 background-color: #000000;
 }


.brown {
 background-color: #775B59;
 }
