.center-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-form {
  background-color: rgba(250, 250, 250, 0.7);
  padding: 2em;
  border-radius: 0.5em;
}


.overflow {
    height: 80%;
  overflow-y:auto;
}
