// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "maps";
@import "form";
@import "footer";
@import "button";

.container {
  min-height:100vh;
  border-radius: 0.5em;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 1em;
 }

 .container-home {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    flex-direction: column;
}

li {
  list-style-type: none;
}

a { color: inherit;
  text-decoration: none;
  &:hover {
  color: inherit;
  text-decoration: none;
  }
}

.white-color {
  color: white!important;
}

.space_between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex {
 display: flex;
}
.space_around {
  justify-content: space-around;
}

.width100 {
  width: 100%;
}

.orange {
  background-color: #DC602E;
}

.text-center {
  text-align: center;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

.padding1 {
  padding: 1em;
}

.margin1 {
  margin: 1em;
}

.shadow-boxing {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.border-radius05 {
  border-radius: 0.5em;
}

.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
}

.marginb {
  margin-bottom: 1em;
}

.hidden-style {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
